<div class="about">
<div class="row">
<div class="col-md-1"></div>
  
<div class="col-md-4 photo">
<img src="http://goo.gl/FVIySb" />  
</div>
  
<div class="col-md-4 text">
  <h2><span>"Salut" I'm Abo Mohab </span></h2>
  <p>I was born in 1982 in Yemen, I studied there computer science and I work as a technical support.
    Recently I work hard to develop my skills in coding and web app developing and here I am ,<span>"Bis Bald" </span></p>
</div>


<div class="col-md-3"></div>
</div>
</div>
