<div class="contacts">
  <div class="row">
    
    
    
    <div class="col-md-12">
      <h2 id="contct"> &#9993; Contact me  </h2> 
      <br>
      <br>
      <br>
        <div class="social">
          
  <a href="#" class="facebook">
  <img src="http://goo.gl/9PwYVG" />
  </a >
        
        <a href="#" class="twitter">
  <img src="http://goo.gl/LlfI3k" />
  </a >
        
        <a href="#" class="google">
  <img src="http://goo.gl/FFfKKd" />
  </a >
        
        <a href="#" class="linkedin">
  <img src="http://goo.gl/kKsHvJ" />
  </a >
        
         <a href ="#" class="whatsapp">
  <img src="http://goo.gl/YjklKA" />
  </a >
   <a href="#" class="email">
           <img src="https://goo.gl/KmpIah" />
 <!-- <img src="http://goo.gl/GydvOC" />-->
  </a >
      </div>
		</div>
    
	</div>
</div>
  