<div class="banner"> 
  
<ul> 
  <li><img src="http://store2.up-00.com/2015-10/1445185588711.jpg" /></li> 
  <li><img src="http://store2.up-00.com/2015-10/1445328268511.jpg" /> </li> 
  <li><img src="http://store2.up-00.com/2015-10/1445185385451.jpg" /> </li> 
  <li><img src="http://store1.up-00.com/2015-10/1445328353791.jpg" /> </li> 

</ul> 
     
</div>
  
<div class="supporting">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="threadly">

         
        <%= link_to "https://dry-plateau-6922.herokuapp.com/",:target =>"_blank" ,:class =>"app"    do %>
        <img class="img-responsive" src="http://store2.up-00.com/2015-10/1445185385451.jpg" />
        <h3>Threadly App</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis enim in eros vestibulum mollis sit amet sed turpis. Aenean ut diam in ex dignissim facilisis. Nam eget venenatis diam. </p>
        
        <%end%>
          </div>
      </div>
      
      <div class="col-md-5">
         <%= link_to pages_portfolio_path ,{:class => "app"} do %>
        <img class="img-responsive" src="http://store2.up-00.com/2015-10/1445182643071.png" />
        <h3>Innovation cloud App2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis enim in eros vestibulum mollis sit amet sed turpis. Aenean ut diam in ex dignissim facilisis. Nam eget venenatis diam. </p>
        <%end%>
      </div>
      
      <div class="col-md-1"></div>
    </div>
    
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
         <%= link_to pages_portfolio_path ,{:class => "app"} do %> 
        <img class="img-responsive" src="http://store2.up-00.com/2015-10/1445185588711.jpg" />
        <h3>Broadway App</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis enim in eros vestibulum mollis sit amet sed turpis. Aenean ut diam in ex dignissim facilisis. Nam eget venenatis diam. </p>
        <%end%>
      </div>
      
      <div class="col-md-5">

        <%= link_to "https://afternoon-basin-9564.herokuapp.com",:target =>"_blank" ,:class =>"app"    do %>
       
        <img class="img-responsive" src="http://store1.up-00.com/2015-11/1447691605891.jpg" />
        <h3>Stories Project</h3>
      
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis enim in eros vestibulum mollis sit amet sed turpis. Aenean ut diam in ex dignissim facilisis. Nam eget venenatis diam. </p>
        <%end%>
      </div>
      
      <div class="col-md-1"></div>
    </div>
   
  </div>
</div>
  